<div class="card border-dark mw-100 mb-3">
  <div class="card-header">Module for handling of cities</div>
  <div class="card-body text-dark">
    <div class="table-responsive">
      <table class="table table-hover">
        <caption>List of cities</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mumbai</td>
            <td>
              <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Remove city">x</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Dubai</td>
            <td>
              <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Remove city">x</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Bern</td>
            <td>
              <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Remove city">x</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    
  </div>
</div>